*{
	box-sizing: border-box;
	transition: all 0.2s ease-out;
}

.shadow{
	text-shadow: 1px 1px 7px rgba(154,154,154,0.5);
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	background: radial-gradient(#63daff, #66ace4);

	font-family: "Raleway", "Arial", sans-serif;
	color: #fff;
	overflow-x: hidden;
}

h1{
	font-size: 56px;
	margin: 0;

	color: #1baad6;
}

.h1-white{
	color: #fff; 
}

.h1-blue{
	color: #1baad6;
}

.p-white{
	color: #fff !important;
}

h2{
	margin-bottom: 20px;
	margin-top: 0;
	color: #1baad6;
}

nav{
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-content: bottom;
	padding: 10px;
	height: 70px;

	background: #fff;
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	width: 100%;
	z-index: 999;
}

nav > span{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
	border-radius: 50px;

	font-size: 12px;
	margin: 8px 4px;
	padding: 2px 15px;
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
}

nav > span:hover{
	background: #fff;
	border: 1px solid #1baad6;
	color: #1baad6;
	transition: all .02s linear;
}

.red-button{
		background: linear-gradient(to bottom, #d5635d 0%,#d13028 100%);

}

#logo{
	width: 65%;
	cursor: pointer;
}

#logo img{
	width: 110px;
}

.talk{
	background: url('https://i.ibb.co/8YWCWLy/bg.png');
	background-size: 100%;
	width: 100vw;
	height: 100%;
}

.full{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}

.two-box > div{
	width: 40%;
}

.dark{
	background: rgba(0,0,0,0.2);
}

.light{
	background: rgba(255,255,255,.2);
}

.ext{
	width: 50%;
}

.first{
	flex-direction: row;
	align-items: center;
	flex-direction: column;
	padding-left: 550px;
	color: #1baad6;
}

.extender{
	padding-left: 300px;
}

.paragraph{
	text-align: left;
	font-size: 24px;
	height: auto !important;
	color: #1baad6;
}

.second{
	background: radial-gradient(#fff, #e5f8ff);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
}

.carousel{
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
	overflow: hidden;
	height: 300px;
	width: 100%;
	background:#63bad7;
}

.carousel_item{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	color: #63bad7;
}

.carousel_item_content{
	margin: 10px;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 340px;
	background: #fff;
	color: #63bad7;

}

.footer_item{
	padding-top: 50px;
	width: 25%;
	font-size: 18px;
}

.footer_item h2{
	font-weight: 400;
	color: #333;
}

.footer_item_black{
	color: #333;
}

.readmore{
	color: #fff;
	background: #d13028;
	padding: 20px;
	border: 0;

	font-size: 18px;
	font-weight: bold;	
	cursor: pointer;
}

.readmore:hover{
	background: #f23028;
}

.about_header{
/*	background: #000;*/	
	width: auto;
}

.about_content{
	color: #1baad6;	
	text-align: justify;
	font-size: 18px;
	padding: 0 150px 0 50px;
}

.third{
	display: flex;
	justify-content: center;
	align-items: center;
}

.checklist{
	display: flex;
	padding: 22px;
	color: #1baad6;
	flex-direction: column;
	justify-content: center;
	font-size: 22px;

	width: 40%;
	background: #fcfcfc;
	border-radius: 10px 0 0 10px;
}

.checklist ul{
	font-size: 18px;
}

.form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px 10px 10px 10px;

	width: 40%;
	height: 500px;
	background: #fff;
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.form input, .form textarea{
	margin: 2px;
	padding: 20px;
	width: 80%;
	font-size: 14px;
	color: #91dcff;

	background: #fff;
	border: 2px solid #91dcff;
	border-radius: 5px;
}

.form input:focus, .form textarea:focus{
	background: #f4f7ff;
}
input::placeholder, textarea::placeholder{
	color: #91dcff;
}

textarea{
	resize: none;
}

input:focus{
	outline: none;
}

#send{
	background: #91dcff !important;
	color: #fff;
}

#send:hover{
	background: #64c4f2 !important;
	border: 2px solid #64c4f2;
}

/*----------------syf-----------------*/

.forwho-bg{
	height: 100%;
	background: url('https://fizjorejestracja.pl/wp-content/themes/kartapacjenta/img/laptop.png') no-repeat;
	background-size: 150%;
}

.idk-padding{
	padding: 0 50px 0 50px;
	text-align: justify;
}

.margin-do-poprawy{
	margin-top: 0 !important;
}

.idk-height{
	height: auto !important;
	padding: 100px 20px 20px 20px;
}

.idk-height > div > h1{
	padding: 0 50px;
}

.contact-list{
	list-style-type: none;
}

.contact-list > li{
	font-weight: bold;
	margin: 10px 0;
}

.cl-right{
	border-radius: 10px;
}

.page-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.price-list{
	  text-overflow: ellipsis;
}

.price-list li{
	color: #1baad6;
	list-style-type: none;
	padding: 5px;
}

.price-list li:before{
	padding: 8px;
	content: "\00BB             ";
	font-weight: bold;
}

.prices-top{
	z-index: 2 !important;
}

.prices{
	z-index: 1;
}

.prices h1{
/*	border-radius: 15px;
*/	text-align: center;
	color: #fff;
	background: #1baad6;
	padding:10px;
	margin: 0;
	height: auto !important;
}
.p-last{
	border-radius: 50px;
}

.p-last ul{	
	font-size: 14px;
	padding: 0;
}

.p-last ul li{
	padding: 0;
}

h4{
	border-radius: 0 0 15px 15px;
	background: #1a89ab;
	padding:10px;
	margin: 0;
}

.offer{
	padding: 130px 300px 100px 100px;
	background: url('https://fizjorejestracja.pl/wp-content/themes/kartapacjenta/img/bus.png') center right no-repeat,
	#fff;
	background-size: 300px;
}

.XD{
	font-size: 18px !important;
}
