*{
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	background: radial-gradient(#63daff, #66ace4);

	font-family: "Raleway", "Arial", sans-serif;
	color: #fff;
	overflow-x: hidden;
}

h1{
	font-size: 56px;
	margin: 0;

	color: #1baad6;
}

h2{
	margin-bottom: 20px;
	margin-top: 0;
	color: #1baad6;
}

nav{
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-content: bottom;
	padding: 10px;

	background: #fff;
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	width: 100%;
}

nav > span{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 50px;

	font-size: 12px;
	margin: 8px 4px;
	padding: 2px 15px;
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
}

.red-button{
		background: linear-gradient(to bottom, #d5635d 0%,#d13028 100%);

}

#logo{
	width: 90%;
}

#logo img{
	width: 110px;
}

.talk{
	background: url('https://i.ibb.co/8YWCWLy/bg.png');
	background-size: 100%;
	width: 100vw;
	height: 100%;
}

.full{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
.ext{
	width: 50%;
}

.first{
	flex-direction: row;
	align-items: center;
	flex-direction: column;
	padding-left: 550px;
	color: #1baad6;
}

.extender{
	padding-left: 300px;
}

.paragraph{
	text-align: left;
	font-size: 24px;
}

.second{
	background: radial-gradient(#fff, #e5f8ff);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
}

.carousel{
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
	overflow: hidden;
	height: 300px;
	width: 160%;
	background:#63bad7;

	display: flex;

}

.carousel_item{
	height: 200px;
	color: #63bad7;
}

.carousel_item_content{
	margin: 10px;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 340px;
	background: #fff;
	color: #63bad7;

}

.footer_item{
	padding-top: 50px;
	width: 25%;
	font-size: 18px;
}

.footer_item h2{
	font-weight: 400;
	color: #333;
}

.footer_item_black{
	color: #333;
}

.readmore{
	color: #fff;
	background: #d13028;
	padding: 20px;
	border: 0;

	font-size: 18px;
	font-weight: bold;	
}

.readmore:hover{
	background: #f23028;
}

.about_header{
/*	background: #000;*/	
	width: auto;
}

.about_content{
	color: #1baad6;	
	text-align: justify;
	font-size: 18px;
	padding: 0 150px 0 50px;
}

.third{
	display: flex;
	justify-content: center;
	align-items: center;
}

.checklist{
	display: flex;
	padding: 22px;
	color: #1baad6;
	flex-direction: column;
	justify-content: center;
	font-size: 22px;

	width: 40%;
	background: #fcfcfc;
	border-radius: 10px 0 0 10px;
	height: 400px;
}

.checklist ul{
	font-size: 18px;
}

.form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px 10px 10px 10px;

	width: 40%;
	height: 500px;
	background: #fff;
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.form input, .form textarea{
	margin: 2px;
	padding: 20px;
	width: 450px;
	font-size: 14px;
	color: #91dcff;

	background: #fff;
	border: 2px solid #91dcff;
	border-radius: 5px;
}

input::placeholder, textarea::placeholder{
	color: #91dcff;
}

input:focus{
	outline: none;
}

#send{
	background: #91dcff !important;
	color: #fff;
}

#send:hover{
	background: #64c4f2 !important;
	border: 2px solid #64c4f2;
}